/* @font-face {
    font-family: "Dense";
    src: url("Dense-Regular.otf");
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: black
}

.topher {
    background:rgb(20, 20, 20);
    position: fixed;
    height: 100%;   
}

ul {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

li a {
    font-size: 2em;
    color: white;
    text-align: center;
}

li {
    margin-top: 10px;
}

li a:hover {
    color: #000000;
    background-color: white;
    transition-duration: .3s;

}

.active {
    color: #000000;
    background-color: white;

}


hr {
    border-color: rgba(255, 255, 255, 0.65);
    width: 70%;
    margin: 0;
    padding: 0;
}

.intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.intro #proffesion {
    font-size: 50px;
    color: #2BA1B9
}
.intro #name {
    font-size: 80px;
    color: #EFEFCD
}

.intro span {
    font-size: 40px;
}
.contact-me {
    padding: 3px;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: white;
    color: white;
    background-color: black;
}

.contact-me:hover {
    color: #2BA1B9;
    border-color: #2BA1B9;
    transition-duration: 1s;
    cursor: pointer;
}
 */

 body {
     overflow: hidden;
     background-image: url("../drawing5.svg");
     background-repeat: no-repeat;
     background-position: 76% -5%;
     background-color: rgb(5, 7, 7);
     font-family: 'Quicksand', sans-serif; 
     background-size: 45%;
 }


.sidebar-nav-wrapper {
    background:black;     
    height: 100%;
    position: fixed;
}

.sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.sidebar-nav-item {
    text-decoration-style: none;
    font-size: 2.5em;
    text-align: center;
   
}
.sidebar-nav-item a {
    color: white;
    display: block;
    padding: 20px;
}

.sidebar-nav-item a:hover {
    color: black;
    background-color: #2BA1B9;
    transition-duration: .3s;
}
.page-content-wrapper {
    padding-left: 100px;
    
}

.intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.intro #proffesion {
    font-size: 50px;
    color: rgb(43, 161, 185)
}
.intro #name {
    font-size: 100px;
    color: #EFEFCD
}

.intro span {
    font-size: 40px;
}
.contact-me {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border-width: 0.5px;
    border-color: white;
    color: white;
    background-color: black;
    margin-right: 10px;
}

.contact-me:hover {
    color: #2BA1B9;
    border-color: #2BA1B9;
    transition-duration: 1s;
    cursor: pointer;
}


@media screen and (max-width: 500px) and (min-width: 250px) {
    body {
        background-size: 70%;
        background-position: 134% -91%;
    }
    .page-content-wrapper {
        padding-left: 0;
    }

    .sidebar-nav-wrapper {
        position: relative;
    }

    .sidebar-nav {
        list-style-type: none;
        position: relative;
        text-align: center;
        -webkit-transform: none;
        transform: none;
    }
    .sidebar-nav-item {
        font-size: 2em;
        display: inline-block;
    }
   
    .sidebar-nav-item a {
        color: white;
        position: relative;
        padding: 10px;
    }

    .intro {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        
    }

    .intro #proffesion {
        font-size: 30px;
        color: #2BA1B9
    }
    .intro #name {
        font-size: 50px;
        color: #EFEFCD
    }
    
    .intro span {
        font-size: 20px;
    }

    .contact-me {
        font-size: 10px;
        border-radius: 5px;
        border-width: 0.5px;
        border-color: white;
        color: white;
        background-color: black;
 
    }
}

@media screen and (max-width: 1920px) and (min-width: 1368px){
    body {
        background-size: 37%;
        background-position: 69% -7%;
    }
}